ASPNETCORE_ENVIRONMENT=Development
POSTGRES_USER=garagelog_dev
POSTGRES_PASSWORD=changeme
POSTGRES_DB=garagelog
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=garagelog;Username=garagelog_dev;Password=changeme;Include Error Detail=true
JwtSettings__Secret=replace-with-a-secret-at-least-32-characters-long